body {
  background-color: lightgray;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.float {
  float: left;
  /*height: 360px;*/
  width: 32%;
  margin: 4px;
  padding: 1px;
  background-color: orange;
}

.float h3 {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.table {
  margin: ;
  border: ;
  padding: ;
  background-color: lightblue;
}

/*.column {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
} I'm not sure why adding this messes up the grid on the bottom, taking out for now */

.row h2 + p {
  text-align: center;
} /*I tried to use the first-child selector with this but it didn't work*/

.column h3 {
  text-align: center;
  margin: 3px;
}

footer {
  text-align: center;
}
