.float {
  float: left;
  height: 350px;
  width: 32%;
  margin: 6px;
  border: 2px solid black;
  padding: 3px;
}

.bold {
  font-weight: bold;
}

h2 {
  text-align: center;
}

h1 {
  text-align: center;
}

body {
  background-color: #F0F8FF;
}

img {

}

footer {
  text-align: center;
}

.float h3 {
  text-align: center;
  color: red;
}

.col-xs-3 h3 {
  color: red;
}
